In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('task_history.csv')
df

,task_id,start_time,finish_time,status,worker,build_name,author,project
0,44973,2005-06-26 09:05:45.716,2005-06-26 09:05:45.997,success,worker_00,test_cyan_texture,Kenny Smith,Halo Anniversary
1,44974,2005-06-26 09:05:46.200,2005-06-26 09:05:46.497,success,worker_01,test_cyan_texture,Kenny Smith,Halo Anniversary
2,44975,2005-06-26 09:05:47.357,2005-06-26 09:06:01.213,success,worker_02,test_cyan_texture,Kenny Smith,Halo Anniversary
3,44977,2005-06-26 09:06:19.273,2005-06-26 09:10:44.734,success,worker_02,test_cyan_texture,Kenny Smith,Halo Anniversary
4,44979,2005-06-26 09:12:00.883,2005-06-26 09:14:29.941,success,worker_04,test_cyan_texture,Kenny Smith,Halo Anniversary
...,...,...,...,...,...,...,...,...
160487,225841,2005-07-17 20:34:53.562,2005-07-17 21:22:55.810,success,worker_79,deploy_green_data,Bendy Python,Mud Runner
160488,13401,2005-07-17 20:34:53.765,2005-07-17 21:14:50.274,success,worker_85,deploy_green_data,Bendy Python,Mud Runner
160489,13403,2005-07-17 21:22:56.247,2005-07-17 21:47:21.805,success,worker_1e,deploy_green_data,Bendy Python,Mud Runner
160490,225842,2005-07-17 23:03:35.688,2005-07-17 23:46:23.162,success,worker_23,deploy_green_data,Bendy Python,Mud Runner
160491,225843,2005-07-17 23:46:23.943,2005-07-18 00:35:48.805,success,worker_79,deploy_green_data,Bendy Python,Mud Runner

In [3]:
df.isnull().sum()

task_id        0
start_time     0
finish_time    0
status         0
worker         0
build_name     0
author         0
project        0
dtype: int64

In [4]:
for coll in df.columns:
    print(coll, df[coll].unique())
    print()

task_id [ 44973  44974  44975 ...  13403 225842 225843]

start_time ['2005-06-26 09:05:45.716' '2005-06-26 09:05:46.200'
 '2005-06-26 09:05:47.357' ... '2005-07-17 21:22:56.247'
 '2005-07-17 23:03:35.688' '2005-07-17 23:46:23.943']

finish_time ['2005-06-26 09:05:45.997' '2005-06-26 09:05:46.497'
 '2005-06-26 09:06:01.213' ... '2005-07-17 21:47:21.805'
 '2005-07-17 23:46:23.162' '2005-07-18 00:35:48.805']

status ['success' 'fail' 'cancel']

worker ['worker_00' 'worker_01' 'worker_02' 'worker_04' 'worker_05' 'worker_06'
 'worker_07' 'worker_08' 'worker_09' 'worker_0a' 'worker_0b' 'worker_0c'
 'worker_0d' 'worker_0e' 'worker_0f' 'worker_10' 'worker_11' 'worker_12'
 'worker_13' 'worker_14' 'worker_15' 'worker_16' 'worker_17' 'worker_18'
 'worker_19' 'worker_1a' 'worker_1b' 'worker_1c' 'worker_1d' 'worker_1e'
 'worker_1f' 'worker_20' 'worker_21' 'worker_22' 'worker_23' 'worker_24'
 'worker_25' 'worker_26' 'worker_27' 'worker_28' 'worker_29' 'worker_2a'
 'worker_2b' 'worker_2c' 'worker_2d' 'worker_2e' 'worker_2f' 'worker_30'
 'worker_31' 'worker_32' 'worker_33' 'worker_34' 'worker_35' 'worker_36'
 'worker_37' 'worker_38' 'worker_39' 'worker_3a' 'worker_3b' 'worker_3c'
 'worker_3d' 'worker_3e' 'worker_3f' 'worker_40' 'worker_41' 'worker_42'
 'worker_43' 'worker_44' 'worker_45' 'worker_46' 'worker_47' 'worker_48'
 'worker_49' 'worker_4a' 'worker_4b' 'worker_4c' 'worker_4d' 'worker_4e'
 'worker_4f' 'worker_50' 'worker_51' 'worker_52' 'worker_53' 'worker_54'
 'worker_55' 'worker_56' 'worker_57' 'worker_58' 'worker_59' 'worker_5a'
 'worker_5b' 'worker_5c' 'worker_5d' 'worker_5e' 'worker_5f' 'worker_60'
 'worker_61' 'worker_62' 'worker_63' 'worker_64' 'worker_65' 'worker_66'
 'worker_67' 'worker_68' 'worker_69' 'worker_6a' 'worker_6b' 'worker_6c'
 'worker_6d' 'worker_6e' 'worker_6f' 'worker_70' 'worker_71' 'worker_72'
 'worker_74' 'worker_75' 'worker_76' 'worker_78' 'worker_79' 'worker_77'
 'worker_7a' 'worker_7b' 'worker_73' 'worker_7c' 'worker_7d' 'worker_7e'
 'worker_7f' 'worker_80' 'worker_81' 'worker_82' 'worker_83' 'worker_84'
 'worker_85' 'worker_86' 'worker_87' 'worker_88' 'worker_89' 'worker_8a'
 'worker_8b' 'worker_8c' 'worker_8d']

build_name ['test_cyan_texture' 'build_cyan_executable' 'validate_green_executable'
 'test_yellow_executable' 'validate_blue_sound' 'build_cyan_texture'
 'validate_blue_executable' 'test_red_executable'
 'deploy_green_executable' 'build_red_library' 'build_cyan_library'
 'test_green_texture' 'build_yellow_sound' 'validate_red_sound'
 'deploy_yellow_executable' 'deploy_yellow_data' 'build_red_sound'
 'deploy_green_data' 'deploy_yellow_sound' 'deploy_yellow_library'
 'build_yellow_texture' 'build_yellow_data' 'deploy_yellow_texture'
 'build_red_executable' 'deploy_blue_texture' 'test_blue_library'
 'build_red_data' 'deploy_cyan_library' 'deploy_red_executable'
 'deploy_red_sound' 'validate_cyan_executable' 'deploy_cyan_executable'
 'test_yellow_texture' 'test_red_library' 'test_blue_sound'
 'validate_yellow_data' 'validate_blue_texture' 'test_cyan_sound'
 'build_green_texture' 'build_green_executable' 'build_blue_texture'
 'build_green_sound' 'deploy_cyan_texture' 'deploy_green_library'
 'validate_red_texture' 'validate_green_texture' 'test_red_texture'
 'build_green_data' 'validate_red_library' 'test_red_data'
 'deploy_red_texture' 'test_yellow_data' 'validate_green_library'
 'validate_cyan_sound' 'validate_yellow_sound' 'test_green_library'
 'validate_red_executable' 'deploy_cyan_sound' 'build_yellow_executable'
 'build_yellow_library' 'build_blue_sound' 'test_green_data'
 'deploy_blue_executable' 'validate_cyan_texture' 'test_cyan_executable'
 'test_cyan_data' 'validate_yellow_library' 'build_red_texture'
 'deploy_blue_sound' 'build_green_library' 'test_blue_texture'
 'validate_blue_data' 'build_cyan_sound' 'test_blue_executable'
 'validate_green_data' 'build_blue_data' 'test_yellow_library'
 'build_cyan_data' 'deploy_blue_library' 'test_green_executable'
 'test_yellow_sound' 'build_blue_library' 'deploy_red_data'
 'validate_red_data' 'validate_cyan_library' 'deploy_green_sound'
 'validate_green_sound' 'validate_cyan_data' 'build_blue_executable'
 'test_green_sound']

author ['Kenny Smith' 'Java Xi' 'Kenny Koltron' 'Polly Koltron' 'Eric Xi'
 'Bendy Python' 'John Koltron' 'Java Smoozy' 'Polly Ivanov'
 'Marsha Kotlin' 'Polly Kotlin' 'Marsha Ivanov' 'Julia Ivanov'
 'John Ivanov' 'Java Ivanov' 'Polly Smith' 'Eric Kotlin' 'Eric Smoozy'
 'Julia Xi' 'Kenny Kotlin' 'Java Smith' 'John Kotlin' 'Marsha Koltron'
 'Eric Koltron' 'Eric Smith' 'Polly Xi' 'Julia Koltron' 'Eric Ivanov'
 'Julia Smith' 'Marsha Xi' 'John Smoozy' 'Kenny Xi' 'Julia Smoozy'
 'Marsha Smoozy' 'Polly Smoozy' 'Java Koltron' 'John Xi' 'Kenny Smoozy'
 'John Smith' 'Julia Kotlin' 'Kenny Ivanov' 'Marsha Smith']

project ['Halo Anniversary' 'Timeshift' 'Quake Champions' 'World War Z'
 'Mud Runner']

In [5]:
(pd.DataFrame(df.groupby('worker'))).iloc[0, 1]

,task_id,start_time,finish_time,status,worker,build_name,author,project
0,44973,2005-06-26 09:05:45.716,2005-06-26 09:05:45.997,success,worker_00,test_cyan_texture,Kenny Smith,Halo Anniversary
33,45025,2005-06-28 04:47:36.881,2005-06-28 05:48:20.649,success,worker_00,build_cyan_executable,Java Xi,Timeshift
99,45128,2005-06-28 12:01:17.866,2005-06-28 12:47:25.167,fail,worker_00,build_cyan_executable,Polly Koltron,Timeshift
236,45371,2005-06-26 09:06:01.384,2005-06-26 09:08:00.375,success,worker_00,build_cyan_executable,Marsha Ivanov,Timeshift
485,45803,2005-06-26 08:59:24.423,2005-06-26 09:03:57.997,success,worker_00,build_red_library,Java Smoozy,Timeshift
...,...,...,...,...,...,...,...,...
159490,181859,2005-07-03 10:42:36.706,2005-07-03 14:03:14.529,success,worker_00,build_cyan_executable,Julia Koltron,Timeshift
159543,181959,2005-07-03 09:02:38.909,2005-07-03 09:58:05.762,cancel,worker_00,deploy_cyan_texture,Bendy Python,Timeshift
159547,181966,2005-07-03 08:18:14.068,2005-07-03 08:53:18.378,success,worker_00,deploy_cyan_texture,Bendy Python,Timeshift
159608,182072,2005-07-03 07:44:33.453,2005-07-03 08:03:29.857,cancel,worker_00,build_cyan_texture,Bendy Python,Timeshift
159988,225439,2005-07-17 22:25:26.396,2005-07-17 22:29:28.948,success,worker_00,build_cyan_texture,Bendy Python,Timeshift

In [6]:
df.groupby(['worker', 'project']).agg(['start_time', 'count'])

AttributeError: 'SeriesGroupBy' object has no attribute 'start_time'